# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Kamila\PycharmProjects\Projekt-AGH-Dobor-Optymalnego-Asortymentu-Produkcji\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
